<div class="container-fluid p-0">
  <div class="bg-pic">
      <div class="col-md-12 text-position-center">
        <h1 class="text-light fs-30 fw-700 text-center">
            RISE BY REACHING HEIGHTS
        </h1>
      </div>
  </div>
  <div class="bg">
      <div class="grid">
          <div class="row mgl-0 mgr-0">
              <div class="col-md-12">
                  <form>
                      <!-- <div class="input-group">
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </div>
                        <input type="search" class="form-control search" placeholder="Search for an Equipment">
                      </div> -->
                      <div class="crexin-search">
                        <div class="search">
                           <input type="text" class="searchTerm" placeholder="Search for an Equipment" (keyup)="search(search_categorie.value)" #search_categorie>
                           <button type="submit" class="searchButton">
                             <i class="fa fa-search"></i>
                          </button>
                        </div>
                    </div>
                    </form>
              </div>
          </div>
          <div class="row mt-4 mgl-0 mgr-0">
              <div class="col-md-2">
                  <h1 class="fs-20 fw-700 pdl-10 mgb-0">
                      Equipment List
                  </h1>
              </div>
          </div>
          <div class="row mg-0 mt-1 mgl-0 mgr-0">
             <div class="col-md-2">
               <ul class="categories">
                <li class="fs-15 pdl-10" (click)="categories()">All Categories</li>
                 <li (click)="categoriedetails(i,categorie.id,categorie,categorie.name)" [class.active]="selectedIndex === i" class="fs-15 pdl-10" *ngFor="let categorie of allcategories;let i = index">
                     <a>{{categorie.c_name}}</a>
                 </li>
               </ul>
             </div>
             <div class="col-md-10 product"> 
                  <div *ngIf="single_product">
                    <div class="row my-2 mgl-0 mgr-0">
                      <div class="col-md-12">
                        <h1 class="fs-20 fw-700 crexin-text">{{singleproduct.sc_name}}</h1>
                      </div>
                      <div class="col-md-4">
                        <div class="mgb-15 crexin-product-images img">
                          <img src="{{singleproduct.sc_image}}" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="mt-3">
                          <p class="fs-15 fw-600 mgb-0 text-color lh-22">{{singleproduct.description}}</p>
                        </div>
                      </div>
                      <div class="col-md-8 my-2">
                          <div class="col-md-12" *ngIf="bookings_notavailable">
                          <h1 class="text-danger fs-15 fw-700 mgb-10 text-center">In this time bookings not available</h1>
                          </div>
                        <p *ngIf="show" class="text-danger font-weight-bold">{{error}}</p>
                         <div class="radio-buttons d-flex justify-content-between">
                          <div class="form-check">
                            <input class="form-check-input" value="hourly"  (click)="hourly_function()" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                            <label class="form-check-label fs-15 fw-700 text-color" for="flexRadioDefault1">
                              Hourly
                            </label>
                          </div>
                          <div class="form-check mgl-5 mgr-5">
                            <input class="form-check-input" value="daily" (click)="daily_function()" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label fs-15 fw-700 text-color" for="flexRadioDefault1" >
                              Daily
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" value="weekly" (click)="weekly_function()" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label fs-15 fw-700 text-color" for="flexRadioDefault1">
                              Weekly
                            </label>
                          </div>
                         </div>
                         <div class="work-options" *ngIf="hourly">
                           <div class="d-flex align-items-center">
                            <h1 class="fs-20 fw-700 mgb-0 mgr-5">Hourly</h1><span class="fs-12 text-danger fw-700">(Min. 3hrs & Max. 6hrs)</span>
                           </div>
                           <form [formGroup]="Hourly">
                           <div class="row mgl-0 mgr-0">
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">No of Hours</label>
                               <select name="" id="" class="form-control bdr" formControlName="no_hours" [ngClass]="{ 'is-invalid': submitted_hourly  && h.no_hours.errors }">
                                  <option value="3">3hrs</option>
                                  <option value="4">4hrs</option>
                                  <option value="5">5hrs</option>
                                  <option value="6">6hrs</option>
                               </select>
                               <div *ngIf="submitted_hourly && h.no_hours.errors" class="invalid-feedback">
                                <div *ngIf="h.no_hours.errors.required" class="fs-15 fw-700">No of Hours is required</div>
                               </div>
                             </div>
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">Start Date</label>
                               <input type="date" min="{{book_date1}}" (click)="getcurrentdate()" placeholder="23-04-21" class="form-control p-0" formControlName="h_startdate" [ngClass]="{ 'is-invalid': submitted_hourly && h.h_startdate.errors }">
                               <div *ngIf="submitted_hourly  && h.h_startdate.errors" class="invalid-feedback">
                                <div *ngIf="h.h_startdate.errors.required" class="fs-15 fw-700">Start Date is required</div>
                               </div>
                              </div>
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">Start Time</label>
                               <select class="form-control p-0" aria-label="Default select example" formControlName="h_starttime" [ngClass]="{ 'is-invalid': submitted_hourly  && h.h_starttime.errors }">
                                <option selected>Select time</option>
                                <option value="4am - 5am">4am - 5am</option>
                                <option value="5am - 6am">5am - 6am</option>
                                <option value="6am - 7am">6am - 7am</option>
                                <option value="7am - 8am">7am - 8am</option>
                                <option value="8am - 9am">8am - 9am</option>
                                <option value="9am - 10am">9am - 10am</option>
                                <option value="10am - 11am">10am - 11am</option>
                                <option value="11am - 12am">11am - 12am</option>
                                <option value="1pm - 2pm">1pm - 2pm</option>
                                <option value="2pm - 3pm">2pm - 3pm</option>
                                <option value="3pm - 4pm">3pm - 4pm</option>
                                <option value="4pm - 5pm">4pm - 5pm</option>
                                <option value="5pm - 6pm">5pm - 6pm</option>
                                <option value="6pm - 7pm">6pm - 7pm</option>
                                <option value="7PM - 8PM">7pm - 8pm</option>
                                <option value="8PM - 9PM">8pm - 9pm</option>
                                <option value="9PM - 10PM">9pm - 10pm</option>
                                <option value="10pm - 11pm">10pm - 11pm</option>
                               </select>
                               <!-- <input type="time" class="form-control" placeholder="7AM to 6PM" formControlName="h_starttime" [ngClass]="{ 'is-invalid': submitted_hourly  && h.h_starttime.errors }"> -->
                               <div *ngIf="submitted_hourly  && h.h_starttime.errors" class="invalid-feedback">
                                <div *ngIf="h.h_starttime.errors.required" class="fs-15 fw-700">Start Time is required</div>
                               </div>
                              </div>
                            <!-- <div class="form-group col-md-3">
                              <label for="" class="fs-15 fw-700 text-color">End Time</label>
                              <input type="time" class="form-control" placeholder="7AM to 6PM" formControlName="h_starttime" [ngClass]="{ 'is-invalid': submitted_hourly  && h.h_starttime.errors }">
                              <div *ngIf="submitted_hourly  && h.h_starttime.errors" class="invalid-feedback">
                               <div *ngIf="h.h_starttime.errors.required" class="fs-15 fw-700">Start Time is required</div>
                              </div>
                            </div> -->
                           </div>
                           </form>
                         </div>
                         <div class="work-options" *ngIf="daily">
                          <div class="d-flex align-items-center">
                            <h1 class="fs-20 fw-700 mgb-0 mgr-5">Daily</h1><span class="fs-12 text-danger fw-700">(Maximum No of hrs: 12Hours)</span>
                           </div>
                           <form [formGroup]="Daily">
                           <div class="row mgl-0 mgr-0">
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">No of Days</label>
                               <select name="" id="" class="form-control" (click)="d_days()" formControlName="no_days" [ngClass]="{ 'is-invalid': submitted_daily && d.no_days.errors }">
                                  <option value="1">1Day</option>
                                  <option value="2">2Days</option>
                                  <option value="3">3Days</option>
                                  <option value="4">4Days</option>
                                  <option value="5">5Days</option>
                               </select>
                               <div *ngIf="submitted_daily && d.no_days.errors" class="invalid-feedback">
                                <div *ngIf="d.no_days.errors.required" class="fs-15 fw-700">No of Days is required</div>
                               </div>
                             </div>
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">Start Date</label>
                               <input min="{{book_date1}}" type="date" placeholder="23-04-21" (click)="getcurrentdate()" class="form-control pd-0" formControlName="d_startdate" (change)="enddata(startdate.value)" [ngClass]="{ 'is-invalid': submitted_daily && d.d_startdate.errors }" #startdate>
                               <div *ngIf="submitted_daily && d.d_startdate.errors" class="invalid-feedback">
                                <div *ngIf="d.d_startdate.errors.required" class="fs-15 fw-700">Start Date is required</div>
                               </div>
                             </div>
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">Start Time</label>
                               <!-- <input [ngxTimepicker]="picker" (change)="endtime(starttime.value)" #starttime>
                               <ngx-material-timepicker #picker></ngx-material-timepicker> -->
                               <select class="form-control p-0" aria-label="Default select example" class="form-control" placeholder="7AM to 6PM" formControlName="d_starttime" (change)="endtime(starttime.value)" [ngClass]="{ 'is-invalid': submitted_daily && d.d_starttime.errors }" #starttime>
                                <option selected>Select time</option>
                                                                <option value="4am - 5am">4am - 5am</option>
                                <option value="5am - 6am">5am - 6am</option>
                                <option value="6am - 7am">6am - 7am</option>
                                <option value="7am - 8am">7am - 8am</option>
                                <option value="8am - 9am">8am - 9am</option>
                                <option value="9am - 10am">9am - 10am</option>
                                <option value="10am - 11am">10am - 11am</option>
                                <option value="11am - 12am">11am - 12am</option>
                                <option value="1pm - 2pm">1pm - 2pm</option>
                                <option value="2pm - 3pm">2pm - 3pm</option>
                                <option value="3pm - 4pm">3pm - 4pm</option>
                                <option value="4pm - 5pm">4pm - 5pm</option>
                                <option value="5pm - 6pm">5pm - 6pm</option>
                                <option value="6pm - 7pm">6pm - 7pm</option>
                                <option value="7PM - 8PM">7pm - 8pm</option>
                                <option value="8PM - 9PM">8pm - 9pm</option>
                                <option value="9PM - 10PM">9pm - 10pm</option>
                                <option value="10pm - 11pm">10pm - 11pm</option>
                               </select>
                               <!-- <input type="time" class="form-control" placeholder="7AM to 6PM" formControlName="d_starttime" (change)="endtime(starttime.value)" [ngClass]="{ 'is-invalid': submitted_daily && d.d_starttime.errors }" #starttime> -->
                               <div *ngIf="submitted_daily && d.d_starttime.errors" class="invalid-feedback" >
                                <div *ngIf="d.d_starttime.errors.required" class="fs-15 fw-700">Start Time is required</div>
                               </div>
                             </div>
                           </div>
                           <div class="row mgl-0 mgr-0">
                             <div class="col-md-4"></div>
                            <div class="form-group col-md-4">
                              <label for="" class="fs-15 fw-700">End Date</label>
                              <input type="date" placeholder="23-04-21" class="form-control p-0" value="{{end_date}}" readonly>
                              <!-- <div *ngIf="submitted_daily && d.d_enddate.errors" class="invalid-feedback" >
                                <div *ngIf="d.d_enddate.errors.required" class="fs-15 fw-700">End Date is required</div>
                              </div> -->
                             </div>
                             <div class="form-group col-md-4">
                              <label for="" class="fs-15 fw-700">End Time</label>
                              <!-- <select name="" id="" class="form-control" placeholder="7AM to 6PM" value="{{end_time}}" readonly></select> -->
                              <input type="text" class="form-control"  value="{{end_time}}" readonly>
                              <!-- <div *ngIf="submitted_daily && d.d_endtime.errors" class="invalid-feedback">
                                <div *ngIf="d.d_endtime.errors.required" class="fs-15 fw-700">End Time is required</div>
                              </div> -->
                             </div>
                           </div>
                          </form>
                         </div>
                         <div class="work-options" *ngIf="weekly">
                          <div class="d-flex align-items-center">
                            <h1 class="fs-20 fw-700 mgb-0 mgr-5">Weekly</h1><span class="fs-12 text-danger fw-700">(Total No of hrs:60hrs)</span>
                           </div>
                           <form [formGroup]="Weekly">
                           <div class="row mgl-0 mgr-0">
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">No of Weeks</label>
                               <select name="" id="" (click)="w_days()" class="form-control" [(ngModel)]="no_of_weeks" formControlName="no_weeks" [ngClass]="{ 'is-invalid': submitted_weekly && w.no_weeks.errors }">
                                  <option value="1">1Week</option>
                                  <option value="2">2Weeks</option>
                                  <option value="3">3Weeks</option>
                                  <option value="4">4Weeks</option>
                                  <option value="5">5Weeks</option>
                                  <option value="6">6Weeks</option>
                                  <option value="7">7Weeks</option>
                                  <option value="8">8Weeks</option>
                                  <option value="9">9Weeks</option>
                                  <option value="10">10Weeks</option>
                                  <option value="11">11Weeks</option>
                                  <option value="12">12Weeks</option>
                               </select>
                              <div *ngIf="submitted_weekly  && w.no_weeks.errors" class="invalid-feedback">
                                <div *ngIf="w.no_weeks.errors.required" class="fs-15 fw-700">No of Weeks is required</div>
                              </div>
                             </div>
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">Start Date</label>
                               <input type="date" min="{{book_date1}}" (click)="getcurrentdate()" placeholder="23-04-21" class="form-control pd-0" formControlName="w_startdate" [ngClass]="{ 'is-invalid': submitted_weekly  && w.w_startdate.errors }" (change)="w_end_date(startdate.value)" #startdate>
                                <div *ngIf="submitted_weekly  && w.w_startdate.errors" class="invalid-feedback">
                                  <div *ngIf="w.w_startdate.errors.required" class="fs-15 fw-700">Start Date is required</div>
                                </div>
                             </div>
                             <div class="form-group col-md-4">
                               <label for="" class="fs-15 fw-700 text-color">Start Time</label>
                               <select class="form-control p-0" aria-label="Default select example" class="form-control" placeholder="7AM to 6PM" formControlName="w_starttime" [ngClass]="{ 'is-invalid': submitted_weekly  && w.w_starttime.errors }" (change)="w_end_time(starttime.value)" #starttime>
                                <option selected>Select time</option>
                                
                                <option value="4am - 5am">4am - 5am</option>
                                <option value="5am - 6am">5am - 6am</option>
                                <option value="6am - 7am">6am - 7am</option>
                                <option value="7am - 8am">7am - 8am</option>
                                <option value="8am - 9am">8am - 9am</option>
                                <option value="9am - 10am">9am - 10am</option>
                                <option value="10am - 11am">10am - 11am</option>
                                <option value="11am - 12am">11am - 12am</option>
                                <option value="1pm - 2pm">1pm - 2pm</option>
                                <option value="2pm - 3pm">2pm - 3pm</option>
                                <option value="3pm - 4pm">3pm - 4pm</option>
                                <option value="4pm - 5pm">4pm - 5pm</option>
                                <option value="5pm - 6pm">5pm - 6pm</option>
                                <option value="6pm - 7pm">6pm - 7pm</option>
                                <option value="7PM - 8PM">7pm - 8pm</option>
                                <option value="8PM - 9PM">8pm - 9pm</option>
                                <option value="9PM - 10PM">9pm - 10pm</option>
                                <option value="10pm - 11pm">10pm - 11pm</option>
                                
                               </select>
                               <!-- <input type="time" class="form-control" placeholder="7AM to 6PM" formControlName="w_starttime" [ngClass]="{ 'is-invalid': submitted_weekly  && w.w_starttime.errors }" (change)="w_end_time(starttime.value)" #starttime> -->
                               <div *ngIf="submitted_weekly  && w.w_starttime.errors" class="invalid-feedback">
                                <div *ngIf="w.w_starttime.errors.required" class="fs-15 fw-700">Start Time is required</div>
                              </div>
                             </div>
                           </div>
                           <div class="row mgl-0 mgr-0">
                             <div class="col-md-4"></div>
                            <div class="form-group col-md-4">
                              <label for="" class="fs-15 fw-700 text-color">End Date</label>
                              <input type="date" placeholder="23-04-21" class="form-control pd-0" value="{{wend_date}}" readonly>
                              <!-- <div *ngIf="submitted_weekly  && w.w_starttime.errors" class="invalid-feedback">
                                <div *ngIf="w.w_starttime.errors.required" class="fs-15 fw-700">Start Time is required</div>
                              </div> -->
                             </div>
                             <div class="form-group col-md-4">
                              <label for="" class="fs-15 fw-700 text-color">End Time</label>
                              <input type="text" class="form-control" placeholder="" value="{{wend_time}}" readonly>
                              <!-- <div *ngIf="submitted_weekly  && w.w_endtime.errors" class="invalid-feedback">
                                <div *ngIf="w.w_endtime.errors.required" class="fs-15 fw-700">End Time is required</div>
                              </div> -->
                             </div>
                           </div>
                          </form>
                         </div>
                      </div>
                      <!-- <div class="col-md-6 mt-1">
                        <div>
                          <p class="fs-15 fw-700">{{singleproduct.notes}}</p>
                        </div>
                      </div> -->
                      <div class="row my-2 w-100 mgl-0 mgr-0">
                        <div class="col-md-6">
                          <div class="d-flex justify-content-between">
                            <div>
                              <h1 class="fs-15 mgb-0 fw-600">Hourly:</h1>
                              <h1 class="mgb-0 fs-15 fw-600 text-color">{{singleproduct.hourly_rate}}</h1>
                            </div>
                            <div>
                              <h1 class="fs-15 mgb-0 fw-600">Daily:</h1>
                              <h1 class="mgb-0 fs-15 fw-600 text-color">{{singleproduct.daily_rate}}</h1>
                            </div>
                            <div>
                              <h1 class="fs-15 mgb-0 fw-600">Weekly Price:</h1>
                              <h1 class="mgb-0 fs-15 fw-600 text-color">{{singleproduct.weekly_rate}}</h1>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 my-2 d-flex justify-content-end align-items-end">
                          <button *ngIf="Hourly_button" type="button" class="fs-15 fw-700 btn btn text-dark" (click)="Hourlyoption(singleproduct.id)">RENT NOW</button>
                          <button *ngIf="Daily_button" type="button" class="fs-15 fw-700 btn btn text-dark" (click)="Dailyoption(singleproduct.id)">RENT NOW</button>
                          <button *ngIf="Weekly_button" type="button" class="fs-15 fw-700 btn btn text-dark" (click)="Weeklyoption(singleproduct.id)">RENT NOW</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row my-3 mgl-0 mgr-0" *ngIf="categorie_products">
                    <div class="col-md-4  my" *ngFor="let product of products" (click)="singleproduct(product.id)">
                      <div class="text-center crexin-product-images mgb-0">
                          <img src="{{product.sc_image}}" class="img-fluid" alt="Responsive image">
                      </div>
                      <div>
                          <h1 class="fs-18 fw-700 text-color mgb-0">{{product.sc_name}}</h1>
                          <p class="fs-15 text-color">{{product.description}}</p>
                      </div>
                    </div>
                  </div> -->
                <div *ngIf="categorie_products">
                  <div class="row my-4 mgl-0 mgr-0" *ngFor="let product of products">
                    <div class="col-md-3">
                        <div class="text-center crexin-product-images mgb-0">
                            <img src="{{product.sc_image}}" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>
                    <div class="col-md-5">
                    <div class="pd-15 pdl-20 subcategorie-name">
                        <h1 class="mgb-10 fs-20 fw-700 crexin-text">{{product.sc_name}}</h1>
                        <p class="fs-15 fw-600 text-color lh-22">{{product.description}}
                        </p>
                    </div>
                    </div>
                    <div class="col-md-2">
                    <div>
                        <h1 class="mgb-0 fs-15 text-color">Hourly Price</h1>
                        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
                        <span class="fs-15 fw-700 text-color">{{product.hourly_rate}}</span>
                    </div>
                    <div>
                        <h1 class="mgb-0 fs-15 text-color">Day Price</h1>
                        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
                        <span class="fs-15 fw-700 text-color">{{product.daily_rate}}</span>
                    </div>
                    <div>
                        <h1 class="mgb-0 fs-15 text-color">Weekly price</h1>
                        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
                        <span class="fs-15 fw-700 text-color">{{product.weekly_rate}}</span>
                    </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-end my-3">
                    <button class="btn btn fs-15 fw-700 pdl-40 pdr-40" (click)="singlesucategorie(product.id)" type="button">
                        RENT
                    </button>
                    </div>
                  </div>
                </div>
                  <div *ngIf="loading" class="text-center">
                    <h1 class="fs-15 fw-700">loading ...</h1>
                  </div>
                  <!-- <div class="d-flex justify-content-center" *ngIf="loading">
                    <div class="spinner-border spinner" role="status">
                        <span class="sr-only" id="loading"></span>
                    </div>
                  </div> -->
             </div>
          </div>
      </div>
  </div>
</div>